.navbar .navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    left: 1%;
    position: absolute;
    top: 50%;
}

::ng-deep nav {
    height: 100% !important;
    background-color: #3d388a !important;
}

::ng-deep .navbar-brand {
    position: unset !important;
}