.label-container {
    width: 100% !important;
    height: 100% !important;
    border-bottom: 0.5rem solid #3d388a;
}

.label-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 125%;
    white-space: nowrap;
    text-overflow: ellipsis;
}